.pageWrapper {
  display: flex;
  height: 100vh;
  background-color: #ffffff;
}

.sidemenu {
  width: 250px;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.sidemenuChild{
  width: 100%;
  text-decoration: none;
  color: white;
  padding: 20px 30px;
}

.sidemenuChild:hover {
  background-color: #575757;
}

.ordersWrapper {
  flex: 1;
  width: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.searchWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.searchInputs {
  display: flex;
}

.ordersTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}

.ordersTable th,
.ordersTable td {
  padding: 8px;
  border: 1px solid #ddd;
}

.ordersTable th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.ordersTable tr:hover {
  background-color: #f9f9f9;
}

.orderButtons {
  display: flex;
}

.orderButtons > button {
  margin: 20px 10px;
}