* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
}

#root {
  background-color: rgb(209, 209, 209);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.loginWrapper {
  width: 30%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  font-size: 3em;
  margin-bottom: 40px;
  text-align: center;
}

form > div {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

button {
  width: 100px;
  height: 30px;
  display: block;
  margin: 0 auto;
}
